In [902]:
### Import packages

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import datetime
from dateutil.relativedelta import relativedelta


date_format = "%Y-%m-%d"


# from sklearn.tree import DecisionTreeClassifier
# from sklearn.linear_model import LogisticRegression
# from sklearn.dummy import DummyClassifier
# from sklearn.pipeline import Pipeline
# from sklearn.neighbors import KNeighborsClassifier
# from sklearn.ensemble import ExtraTreesClassifier
# from sklearn.ensemble import BaggingClassifier, RandomForestClassifier,\
# ExtraTreesClassifier, VotingClassifier, StackingRegressor

# from sklearn.compose import ColumnTransformer
# from sklearn.model_selection import train_test_split, cross_val_score, cross_validate, GridSearchCV
# from sklearn.preprocessing import StandardScaler, OneHotEncoder, FunctionTransformer
# from sklearn.metrics import confusion_matrix, plot_confusion_matrix,\
#     precision_score, accuracy_score, log_loss, make_scorer

In [903]:
customers = pd.read_csv('data_sources/customers.csv')
add_ons = pd.read_csv('data_sources/add_ons.csv')
long_terms = pd.read_csv('data_sources/long_term_plans.csv')
short_terms = pd.read_csv('data_sources/short_term_bookings.csv')

In [904]:
customers

    id            name
0    1  Crypto Factory
1    2         AirBase
2    3       SearchNet
3    4       Sky Force
4    5        Fly Well
5    6    Panda Health
6    7        Camp Zen
7    8       Zero Base
8    9        Illumino
9   10      Desk Panda
10  11           Boxly
11  12       Loop Hero
12  13     Sport Smart
13  14           Bevvy
14  15     BetterGreen
15  16           Yogio
16  17    Spotlight VC
17  18          YoSnap
18  19      Bit Finder
19  20        Dog Chat
20  21     Snap Health
21  22          GloGlo

In [905]:
add_ons = add_ons[["referenceable_id","referenceable_type","amount","start_date", "recurring", "description"]]
add_ons

,referenceable_id,referenceable_type,amount,start_date,recurring,description
0,1,long_term_plan,1000,2022-01-10,True,couch
1,2,long_term_plan,3600,2022-03-01,True,furniture rental
2,4,long_term_plan,3000,2022-01-06,True,Additional Furniture (per addendum)
3,6,long_term_plan,24000,2022-04-27,False,bathroom installation
4,6,long_term_plan,8400,2022-04-27,True,catering
5,3,long_term_plan,200,2022-03-15,True,Whiteboard
6,3,long_term_plan,50,2022-03-15,True,Floor Lamp
7,6,long_term_plan,200,2022-04-27,True,8 Laptop Stands
8,5,long_term_plan,100,2022-03-10,True,microphones + TV
9,1,long_term_plan,180,2022-07-10,False,Locksmith
10,6,long_term_plan,380,2022-04-27,False,utensils
11,7,long_term_plan,520,2022-03-01,False,mugs
12,7,long_term_plan,100,2022-03-01,False,coffee machine
13,8,long_term_plan,4200,2022-03-15,True,chairs and desks
14,8,long_term_plan,1200,2022-01-20,True,internet
15,1,short_term_booking,1020,2022-03-05,False,lunch
16,9,long_term_plan,300,2022-01-25,True,bookshelf
17,9,long_term_plan,1802,2022-06-07,True,ergonomic chairs
18,9,long_term_plan,160,2022-01-25,True,key cards
19,2,short_term_booking,40,2022-04-01,False,coffee
20,5,short_term_booking,128,2022-05-11,False,drinks and snacks
21,6,short_term_booking,192,2022-06-10,False,table rental
22,16,long_term_plan,8000,2022-10-01,True,catering
23,21,long_term_plan,4500,2022-10-23,True,Catering
24,21,long_term_plan,1200,2022-12-10,True,Internet

In [906]:
long_terms = long_terms[["id", "contract_signed_date", "start_date", "amount_monthly", "term_length_months", \
                        "payment_interval_months","renews_automatically", "customer_id" ]]
long_terms

,id,contract_signed_date,start_date,amount_monthly,term_length_months,payment_interval_months,renews_automatically,customer_id
0,1,2022-01-05,2022-01-10,5000,12,3,True,1
1,2,2022-01-26,2022-02-01,8200,6,1,True,2
2,3,2022-03-15,2022-03-15,3600,5,1,False,3
3,4,2022-01-01,2022-01-06,10000,24,6,True,4
4,5,2022-03-08,2022-03-10,7500,3,1,False,5
5,6,2022-04-24,2022-04-27,8000,6,1,True,5
6,7,2022-02-24,2022-03-01,6000,12,3,True,6
7,8,2022-01-19,2022-01-20,15000,6,2,True,7
8,9,2022-01-21,2022-01-25,9200,24,1,True,8
9,10,2022-01-23,2022-01-26,10000,12,3,True,9
10,11,2022-05-06,2022-05-08,14000,12,3,True,10
11,12,2022-01-16,2022-01-18,15000,1,1,True,11
12,13,2022-09-20,2022-09-23,4000,6,3,False,3
13,14,2023-04-03,2023-04-03,6000,6,3,False,3
14,15,2022-01-04,2022-01-05,11430,2,1,False,13
15,16,2022-04-01,2022-04-01,32000,12,3,True,16
16,17,2022-08-20,2022-08-24,11500,6,1,False,17
17,18,2022-07-30,2022-08-01,14700,12,3,True,18
18,19,2022-02-05,2022-02-06,23000,3,1,False,19
19,20,2022-02-28,2022-02-28,35000,6,1,False,20
20,21,2022-03-12,2022-03-12,22000,3,3,True,22

In [907]:
short_terms = short_terms[["id", "customer_id", "start_date", "end_date", "amount"]]
short_terms

    id  customer_id  start_date    end_date  amount
0    1           11  2022-03-05  2022-03-05    2000
1    2           12  2022-04-01  2022-04-02    4200
2    3           12  2022-04-26  2022-04-26    1200
3    4           13  2022-05-01  2022-05-01    2000
4    5           15  2022-05-11  2022-05-13    5400
5    6           14  2022-06-10  2022-06-10    1800
6    7           11  2022-06-20  2022-06-23    6300
7    8           12  2022-07-12  2022-07-12    1500
8    9           13  2022-07-20  2022-07-22    5900
9   10           14  2022-07-31  2022-08-01    3600
10  11           12  2022-08-15  2022-08-15    1800
11  12           13  2022-08-30  2022-09-02    8000
12  13           11  2022-09-17  2022-09-17    2200
13  14            6  2022-02-16  2022-02-16    3356
14  15           11  2022-10-31  2022-11-01    4500
15  16           21  2022-03-05  2022-03-05    6700
16  17           21  2022-06-07  2022-06-07    6700
17  18           21  2022-10-08  2022-10-08    6700

In [908]:
short_w_names = short_terms.join(customers.set_index('id'), on= "customer_id")
short_w_names

    id  customer_id  start_date    end_date  amount          name
0    1           11  2022-03-05  2022-03-05    2000         Boxly
1    2           12  2022-04-01  2022-04-02    4200     Loop Hero
2    3           12  2022-04-26  2022-04-26    1200     Loop Hero
3    4           13  2022-05-01  2022-05-01    2000   Sport Smart
4    5           15  2022-05-11  2022-05-13    5400   BetterGreen
5    6           14  2022-06-10  2022-06-10    1800         Bevvy
6    7           11  2022-06-20  2022-06-23    6300         Boxly
7    8           12  2022-07-12  2022-07-12    1500     Loop Hero
8    9           13  2022-07-20  2022-07-22    5900   Sport Smart
9   10           14  2022-07-31  2022-08-01    3600         Bevvy
10  11           12  2022-08-15  2022-08-15    1800     Loop Hero
11  12           13  2022-08-30  2022-09-02    8000   Sport Smart
12  13           11  2022-09-17  2022-09-17    2200         Boxly
13  14            6  2022-02-16  2022-02-16    3356  Panda Health
14  15           11  2022-10-31  2022-11-01    4500         Boxly
15  16           21  2022-03-05  2022-03-05    6700   Snap Health
16  17           21  2022-06-07  2022-06-07    6700   Snap Health
17  18           21  2022-10-08  2022-10-08    6700   Snap Health

In [909]:
short_w_names["datetime_start_date"] = short_w_names["start_date"].apply(lambda x: \
                                                                     datetime.datetime.strptime(x, date_format))
short_w_names["datetime_end_date"] = short_w_names["end_date"].apply(lambda x: \
                                                                     datetime.datetime.strptime(x, date_format))
short_w_names = short_w_names[["id", "customer_id", "amount", "name", "datetime_start_date", "datetime_end_date"]]

In [910]:
short_w_names

,id,customer_id,amount,name,datetime_start_date,datetime_end_date
0,1,11,2000,Boxly,2022-03-05,2022-03-05
1,2,12,4200,Loop Hero,2022-04-01,2022-04-02
2,3,12,1200,Loop Hero,2022-04-26,2022-04-26
3,4,13,2000,Sport Smart,2022-05-01,2022-05-01
4,5,15,5400,BetterGreen,2022-05-11,2022-05-13
5,6,14,1800,Bevvy,2022-06-10,2022-06-10
6,7,11,6300,Boxly,2022-06-20,2022-06-23
7,8,12,1500,Loop Hero,2022-07-12,2022-07-12
8,9,13,5900,Sport Smart,2022-07-20,2022-07-22
9,10,14,3600,Bevvy,2022-07-31,2022-08-01
10,11,12,1800,Loop Hero,2022-08-15,2022-08-15
11,12,13,8000,Sport Smart,2022-08-30,2022-09-02
12,13,11,2200,Boxly,2022-09-17,2022-09-17
13,14,6,3356,Panda Health,2022-02-16,2022-02-16
14,15,11,4500,Boxly,2022-10-31,2022-11-01
15,16,21,6700,Snap Health,2022-03-05,2022-03-05
16,17,21,6700,Snap Health,2022-06-07,2022-06-07
17,18,21,6700,Snap Health,2022-10-08,2022-10-08

In [911]:
short_id_name = short_w_names[["id", "name"]]
short_id_name

    id          name
0    1         Boxly
1    2     Loop Hero
2    3     Loop Hero
3    4   Sport Smart
4    5   BetterGreen
5    6         Bevvy
6    7         Boxly
7    8     Loop Hero
8    9   Sport Smart
9   10         Bevvy
10  11     Loop Hero
11  12   Sport Smart
12  13         Boxly
13  14  Panda Health
14  15         Boxly
15  16   Snap Health
16  17   Snap Health
17  18   Snap Health

In [912]:
long_w_names = long_terms.join(customers.set_index('id'), on= "customer_id")
long_w_names

,id,contract_signed_date,start_date,amount_monthly,term_length_months,payment_interval_months,renews_automatically,customer_id,name
0,1,2022-01-05,2022-01-10,5000,12,3,True,1,Crypto Factory
1,2,2022-01-26,2022-02-01,8200,6,1,True,2,AirBase
2,3,2022-03-15,2022-03-15,3600,5,1,False,3,SearchNet
3,4,2022-01-01,2022-01-06,10000,24,6,True,4,Sky Force
4,5,2022-03-08,2022-03-10,7500,3,1,False,5,Fly Well
5,6,2022-04-24,2022-04-27,8000,6,1,True,5,Fly Well
6,7,2022-02-24,2022-03-01,6000,12,3,True,6,Panda Health
7,8,2022-01-19,2022-01-20,15000,6,2,True,7,Camp Zen
8,9,2022-01-21,2022-01-25,9200,24,1,True,8,Zero Base
9,10,2022-01-23,2022-01-26,10000,12,3,True,9,Illumino
10,11,2022-05-06,2022-05-08,14000,12,3,True,10,Desk Panda
11,12,2022-01-16,2022-01-18,15000,1,1,True,11,Boxly
12,13,2022-09-20,2022-09-23,4000,6,3,False,3,SearchNet
13,14,2023-04-03,2023-04-03,6000,6,3,False,3,SearchNet
14,15,2022-01-04,2022-01-05,11430,2,1,False,13,Sport Smart
15,16,2022-04-01,2022-04-01,32000,12,3,True,16,Yogio
16,17,2022-08-20,2022-08-24,11500,6,1,False,17,Spotlight VC
17,18,2022-07-30,2022-08-01,14700,12,3,True,18,YoSnap
18,19,2022-02-05,2022-02-06,23000,3,1,False,19,Bit Finder
19,20,2022-02-28,2022-02-28,35000,6,1,False,20,Dog Chat
20,21,2022-03-12,2022-03-12,22000,3,3,True,22,GloGlo

In [913]:
long_w_names["dt_contract_signed_date"] = long_w_names["contract_signed_date"].apply(lambda x: \
                                                                     datetime.datetime.strptime(x, date_format))
long_w_names["dt_start_date"] = long_w_names["start_date"].apply(lambda x: \
                                                                     datetime.datetime.strptime(x, date_format))

In [914]:
long_w_names = long_w_names[["id", "amount_monthly", "term_length_months", "payment_interval_months",\
                             "renews_automatically", "customer_id", "name", "dt_contract_signed_date",\
                             "dt_start_date"]]

In [915]:
long_id_name = long_w_names[["id", "name", "term_length_months", "payment_interval_months", "dt_contract_signed_date", "renews_automatically"]]
long_id_name

,id,name,term_length_months,payment_interval_months,dt_contract_signed_date,renews_automatically
0,1,Crypto Factory,12,3,2022-01-05,True
1,2,AirBase,6,1,2022-01-26,True
2,3,SearchNet,5,1,2022-03-15,False
3,4,Sky Force,24,6,2022-01-01,True
4,5,Fly Well,3,1,2022-03-08,False
5,6,Fly Well,6,1,2022-04-24,True
6,7,Panda Health,12,3,2022-02-24,True
7,8,Camp Zen,6,2,2022-01-19,True
8,9,Zero Base,24,1,2022-01-21,True
9,10,Illumino,12,3,2022-01-23,True
10,11,Desk Panda,12,3,2022-05-06,True
11,12,Boxly,1,1,2022-01-16,True
12,13,SearchNet,6,3,2022-09-20,False
13,14,SearchNet,6,3,2023-04-03,False
14,15,Sport Smart,2,1,2022-01-04,False
15,16,Yogio,12,3,2022-04-01,True
16,17,Spotlight VC,6,1,2022-08-20,False
17,18,YoSnap,12,3,2022-07-30,True
18,19,Bit Finder,3,1,2022-02-05,False
19,20,Dog Chat,6,1,2022-02-28,False
20,21,GloGlo,3,3,2022-03-12,True

In [916]:
add_ons_lt = add_ons[add_ons["referenceable_type"] == "long_term_plan"]
# add_ons_lt
# add_ons_lt.shape

add_ons_st = add_ons[add_ons["referenceable_type"] == "short_term_booking"]
# add_ons_st

In [917]:
add_ons_lt



add_ons_lt["dt_start_date"] = add_ons_lt["start_date"].apply(lambda x: \
                                                                     datetime.datetime.strptime(x, date_format))

<ipython-input-917-3431e43404b3>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  add_ons_lt["dt_start_date"] = add_ons_lt["start_date"].apply(lambda x: \

In [918]:
addon_lt_names = add_ons_lt.join(long_id_name.set_index('id'), on= "referenceable_id", how = "left")
addon_lt_names = addon_lt_names[["referenceable_id", "referenceable_type", "amount", "recurring", "description",\
                         "dt_start_date", "name", "term_length_months", "payment_interval_months", \
                                 "dt_contract_signed_date", "renews_automatically"] ]

addon_lt_names

,referenceable_id,referenceable_type,amount,recurring,description,dt_start_date,name,term_length_months,payment_interval_months,dt_contract_signed_date,renews_automatically
0,1,long_term_plan,1000,True,couch,2022-01-10,Crypto Factory,12,3,2022-01-05,True
1,2,long_term_plan,3600,True,furniture rental,2022-03-01,AirBase,6,1,2022-01-26,True
2,4,long_term_plan,3000,True,Additional Furniture (per addendum),2022-01-06,Sky Force,24,6,2022-01-01,True
3,6,long_term_plan,24000,False,bathroom installation,2022-04-27,Fly Well,6,1,2022-04-24,True
4,6,long_term_plan,8400,True,catering,2022-04-27,Fly Well,6,1,2022-04-24,True
5,3,long_term_plan,200,True,Whiteboard,2022-03-15,SearchNet,5,1,2022-03-15,False
6,3,long_term_plan,50,True,Floor Lamp,2022-03-15,SearchNet,5,1,2022-03-15,False
7,6,long_term_plan,200,True,8 Laptop Stands,2022-04-27,Fly Well,6,1,2022-04-24,True
8,5,long_term_plan,100,True,microphones + TV,2022-03-10,Fly Well,3,1,2022-03-08,False
9,1,long_term_plan,180,False,Locksmith,2022-07-10,Crypto Factory,12,3,2022-01-05,True
10,6,long_term_plan,380,False,utensils,2022-04-27,Fly Well,6,1,2022-04-24,True
11,7,long_term_plan,520,False,mugs,2022-03-01,Panda Health,12,3,2022-02-24,True
12,7,long_term_plan,100,False,coffee machine,2022-03-01,Panda Health,12,3,2022-02-24,True
13,8,long_term_plan,4200,True,chairs and desks,2022-03-15,Camp Zen,6,2,2022-01-19,True
14,8,long_term_plan,1200,True,internet,2022-01-20,Camp Zen,6,2,2022-01-19,True
16,9,long_term_plan,300,True,bookshelf,2022-01-25,Zero Base,24,1,2022-01-21,True
17,9,long_term_plan,1802,True,ergonomic chairs,2022-06-07,Zero Base,24,1,2022-01-21,True
18,9,long_term_plan,160,True,key cards,2022-01-25,Zero Base,24,1,2022-01-21,True
22,16,long_term_plan,8000,True,catering,2022-10-01,Yogio,12,3,2022-04-01,True
23,21,long_term_plan,4500,True,Catering,2022-10-23,GloGlo,3,3,2022-03-12,True
24,21,long_term_plan,1200,True,Internet,2022-12-10,GloGlo,3,3,2022-03-12,True

In [919]:
add_ons_st

,referenceable_id,referenceable_type,amount,start_date,recurring,description
15,1,short_term_booking,1020,2022-03-05,False,lunch
19,2,short_term_booking,40,2022-04-01,False,coffee
20,5,short_term_booking,128,2022-05-11,False,drinks and snacks
21,6,short_term_booking,192,2022-06-10,False,table rental

In [920]:
addon_st_names = add_ons_st.join(short_id_name.set_index('id'), on= "referenceable_id", how = "left")
addon_st_names




addon_st_names["dt_start_date"] = addon_st_names["start_date"].apply(lambda x: \
                                                                     datetime.datetime.strptime(x, date_format))

addon_st_names = addon_st_names[["referenceable_id", "referenceable_type", "amount", "recurring", "description",\
                         "dt_start_date", "name"] ]


addon_st_names

,referenceable_id,referenceable_type,amount,recurring,description,dt_start_date,name
15,1,short_term_booking,1020,False,lunch,2022-03-05,Boxly
19,2,short_term_booking,40,False,coffee,2022-04-01,Loop Hero
20,5,short_term_booking,128,False,drinks and snacks,2022-05-11,BetterGreen
21,6,short_term_booking,192,False,table rental,2022-06-10,Bevvy

# So for now these are our main tables

## Short Term Bookings w/ Names

In [921]:
short_w_names

,id,customer_id,amount,name,datetime_start_date,datetime_end_date
0,1,11,2000,Boxly,2022-03-05,2022-03-05
1,2,12,4200,Loop Hero,2022-04-01,2022-04-02
2,3,12,1200,Loop Hero,2022-04-26,2022-04-26
3,4,13,2000,Sport Smart,2022-05-01,2022-05-01
4,5,15,5400,BetterGreen,2022-05-11,2022-05-13
5,6,14,1800,Bevvy,2022-06-10,2022-06-10
6,7,11,6300,Boxly,2022-06-20,2022-06-23
7,8,12,1500,Loop Hero,2022-07-12,2022-07-12
8,9,13,5900,Sport Smart,2022-07-20,2022-07-22
9,10,14,3600,Bevvy,2022-07-31,2022-08-01
10,11,12,1800,Loop Hero,2022-08-15,2022-08-15
11,12,13,8000,Sport Smart,2022-08-30,2022-09-02
12,13,11,2200,Boxly,2022-09-17,2022-09-17
13,14,6,3356,Panda Health,2022-02-16,2022-02-16
14,15,11,4500,Boxly,2022-10-31,2022-11-01
15,16,21,6700,Snap Health,2022-03-05,2022-03-05
16,17,21,6700,Snap Health,2022-06-07,2022-06-07
17,18,21,6700,Snap Health,2022-10-08,2022-10-08

## Short terms add ons with names

In [922]:
addon_st_names

,referenceable_id,referenceable_type,amount,recurring,description,dt_start_date,name
15,1,short_term_booking,1020,False,lunch,2022-03-05,Boxly
19,2,short_term_booking,40,False,coffee,2022-04-01,Loop Hero
20,5,short_term_booking,128,False,drinks and snacks,2022-05-11,BetterGreen
21,6,short_term_booking,192,False,table rental,2022-06-10,Bevvy

## Long terms bookings with names

In [923]:
long_w_names

,id,amount_monthly,term_length_months,payment_interval_months,renews_automatically,customer_id,name,dt_contract_signed_date,dt_start_date
0,1,5000,12,3,True,1,Crypto Factory,2022-01-05,2022-01-10
1,2,8200,6,1,True,2,AirBase,2022-01-26,2022-02-01
2,3,3600,5,1,False,3,SearchNet,2022-03-15,2022-03-15
3,4,10000,24,6,True,4,Sky Force,2022-01-01,2022-01-06
4,5,7500,3,1,False,5,Fly Well,2022-03-08,2022-03-10
5,6,8000,6,1,True,5,Fly Well,2022-04-24,2022-04-27
6,7,6000,12,3,True,6,Panda Health,2022-02-24,2022-03-01
7,8,15000,6,2,True,7,Camp Zen,2022-01-19,2022-01-20
8,9,9200,24,1,True,8,Zero Base,2022-01-21,2022-01-25
9,10,10000,12,3,True,9,Illumino,2022-01-23,2022-01-26
10,11,14000,12,3,True,10,Desk Panda,2022-05-06,2022-05-08
11,12,15000,1,1,True,11,Boxly,2022-01-16,2022-01-18
12,13,4000,6,3,False,3,SearchNet,2022-09-20,2022-09-23
13,14,6000,6,3,False,3,SearchNet,2023-04-03,2023-04-03
14,15,11430,2,1,False,13,Sport Smart,2022-01-04,2022-01-05
15,16,32000,12,3,True,16,Yogio,2022-04-01,2022-04-01
16,17,11500,6,1,False,17,Spotlight VC,2022-08-20,2022-08-24
17,18,14700,12,3,True,18,YoSnap,2022-07-30,2022-08-01
18,19,23000,3,1,False,19,Bit Finder,2022-02-05,2022-02-06
19,20,35000,6,1,False,20,Dog Chat,2022-02-28,2022-02-28
20,21,22000,3,3,True,22,GloGlo,2022-03-12,2022-03-12

## Long terms add ons with names

In [924]:
addon_lt_names

,referenceable_id,referenceable_type,amount,recurring,description,dt_start_date,name,term_length_months,payment_interval_months,dt_contract_signed_date,renews_automatically
0,1,long_term_plan,1000,True,couch,2022-01-10,Crypto Factory,12,3,2022-01-05,True
1,2,long_term_plan,3600,True,furniture rental,2022-03-01,AirBase,6,1,2022-01-26,True
2,4,long_term_plan,3000,True,Additional Furniture (per addendum),2022-01-06,Sky Force,24,6,2022-01-01,True
3,6,long_term_plan,24000,False,bathroom installation,2022-04-27,Fly Well,6,1,2022-04-24,True
4,6,long_term_plan,8400,True,catering,2022-04-27,Fly Well,6,1,2022-04-24,True
5,3,long_term_plan,200,True,Whiteboard,2022-03-15,SearchNet,5,1,2022-03-15,False
6,3,long_term_plan,50,True,Floor Lamp,2022-03-15,SearchNet,5,1,2022-03-15,False
7,6,long_term_plan,200,True,8 Laptop Stands,2022-04-27,Fly Well,6,1,2022-04-24,True
8,5,long_term_plan,100,True,microphones + TV,2022-03-10,Fly Well,3,1,2022-03-08,False
9,1,long_term_plan,180,False,Locksmith,2022-07-10,Crypto Factory,12,3,2022-01-05,True
10,6,long_term_plan,380,False,utensils,2022-04-27,Fly Well,6,1,2022-04-24,True
11,7,long_term_plan,520,False,mugs,2022-03-01,Panda Health,12,3,2022-02-24,True
12,7,long_term_plan,100,False,coffee machine,2022-03-01,Panda Health,12,3,2022-02-24,True
13,8,long_term_plan,4200,True,chairs and desks,2022-03-15,Camp Zen,6,2,2022-01-19,True
14,8,long_term_plan,1200,True,internet,2022-01-20,Camp Zen,6,2,2022-01-19,True
16,9,long_term_plan,300,True,bookshelf,2022-01-25,Zero Base,24,1,2022-01-21,True
17,9,long_term_plan,1802,True,ergonomic chairs,2022-06-07,Zero Base,24,1,2022-01-21,True
18,9,long_term_plan,160,True,key cards,2022-01-25,Zero Base,24,1,2022-01-21,True
22,16,long_term_plan,8000,True,catering,2022-10-01,Yogio,12,3,2022-04-01,True
23,21,long_term_plan,4500,True,Catering,2022-10-23,GloGlo,3,3,2022-03-12,True
24,21,long_term_plan,1200,True,Internet,2022-12-10,GloGlo,3,3,2022-03-12,True

## Now we can do some insights for total contract value.

We use several financial metrics at Codi to evaluate the performance of our business, one of which is total contract value. Put simply, the TCV represents the full value of a customers contract across an agreed-upon term, inclusive of all recurring revenue and one-time fees. We have two types of contracts: recurring (known internally as long-term plans or LTPs) and nonrecurring (known as short-term bookings or STBs).  Note: The date a contract is signed is used to determine which month to attribute LTP for the first term and subsequent terms use the renewed contract start date, whereas the start date is always used for STBs.) We also include add-on revenue in our TCV calculation, which can be either one-time or recurring.

## Will add short term add ons to our short term contracts to get full picture of the total value of these contracts

## Longer term contracts will be trickier to do as the add ons are one time only, total contract value for 2022 will be calculated/to date

## Other questions to answer or other figures to create. 2022 YTD performance (through Q3 as well as a projection through 2024. 

## - Break TCV down :
## - month and/or quarter
## - by new customer TCV vs. existing customer TCV
## - by revenue type LTP, STB, or add-on)

## Most profitable month (contract start is where this money goes), most profitble customer, most profitble customer in terms of LTP/STB/Addon, customer with most add ons, most profitable with projected growth, ways to be more profitable

## What is more profitable short or long term lease (including add ons) by daily average, interesting figure but obviously short term

## Who has converted to long term from short? or vice versa?

# Finally will do our future projections of TCV and profitablity

### Will redo a lot of these figures projected forward

# Assume customers with contracts will continually renew for projections,short term bookings will remain similar??? How do i do short term bookings?

# Assume any growth seen will be consistant ? Explain why and how?

# Current drawbacks and limitations:
 - Sample size smaller in this data and assuming as we are a new company new contracts will speed up earlier
 - Enconomic turmoil and recession imminant
 - Covid?! We are getting back to work with this new world and more interest will come and more contracts as the world gets back to normal with the knowledge they might not need a full time dedicated office space leading to more bookings of profitable short term contracts and add ons

In [925]:
addon_lt_names.groupby("name").sum()

,referenceable_id,amount,recurring,term_length_months,payment_interval_months,renews_automatically
name,,,,,,
AirBase,2,3600,1,6,1,1
Camp Zen,16,5400,2,12,4,2
Crypto Factory,2,1180,1,24,6,2
Fly Well,29,33080,3,27,5,4
GloGlo,42,5700,2,6,6,2
Panda Health,14,620,0,24,6,2
SearchNet,6,250,2,10,2,0
Sky Force,4,3000,1,24,6,1
Yogio,16,8000,1,12,3,1
Zero Base,27,2262,3,72,3,3

In [926]:
addon_st_names.groupby("name").sum()

             referenceable_id  amount  recurring
name
BetterGreen                 5     128          0
Bevvy                       6     192          0
Boxly                       1    1020          0
Loop Hero                   2      40          0

In [927]:
short_w_names.groupby("name").sum()

              id  customer_id  amount
name
BetterGreen    5           15    5400
Bevvy         16           28    5400
Boxly         36           44   15000
Loop Hero     24           48    8700
Panda Health  14            6    3356
Snap Health   51           63   20100
Sport Smart   25           39   15900

# Recurring for add ons repeat at every term renewal need to include in projections and value per contract

# Calc YTD money from short vs long vs add ons

### Short Term YTD Bookings (Rental Only)

In [928]:
ytd_s = short_w_names[["name", "datetime_start_date", "amount"]]

ytd_s["returning_cust"] = 0
ytd_s["bookings"] = 1
ytd_s["month"] = pd.DatetimeIndex(ytd_s["datetime_start_date"]).month
ytd_s["year"] = pd.DatetimeIndex(ytd_s["datetime_start_date"]).year

ytd_s = ytd_s.sort_values(by = ["year", "month"])
ytd_s = ytd_s.reset_index()
ytd_s = ytd_s [["name", "returning_cust", "bookings", "month", "year", "amount"]]
ytd_s["returning_cust"] = ytd_s["name"].duplicated()

ytd_s

#YTD All

<ipython-input-928-68c3cf9265bd>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ytd_s["returning_cust"] = 0
<ipython-input-928-68c3cf9265bd>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ytd_s["bookings"] = 1

            name  returning_cust  bookings  month  year  amount
0   Panda Health           False         1      2  2022    3356
1          Boxly           False         1      3  2022    2000
2    Snap Health           False         1      3  2022    6700
3      Loop Hero           False         1      4  2022    4200
4      Loop Hero            True         1      4  2022    1200
5    Sport Smart           False         1      5  2022    2000
6    BetterGreen           False         1      5  2022    5400
7          Bevvy           False         1      6  2022    1800
8          Boxly            True         1      6  2022    6300
9    Snap Health            True         1      6  2022    6700
10     Loop Hero            True         1      7  2022    1500
11   Sport Smart            True         1      7  2022    5900
12         Bevvy            True         1      7  2022    3600
13     Loop Hero            True         1      8  2022    1800
14   Sport Smart            True         1      8  2022    8000
15         Boxly            True         1      9  2022    2200
16         Boxly            True         1     10  2022    4500
17   Snap Health            True         1     10  2022    6700

### Short Term Month to Month Revenue

In [929]:
short_monthly = ytd_s[["returning_cust", "bookings","month", "year", "amount"]].groupby(["year","month"]).sum()
short_monthly["num_new_contracts"] =short_monthly["bookings"] - short_monthly["returning_cust"]
short_monthly["type"] = "short_term"
short_monthly = short_monthly[["type", "bookings","num_new_contracts", "amount"]]




short_monthly

                  type  bookings  num_new_contracts  amount
year month
2022 2      short_term         1                  1    3356
     3      short_term         2                  2    8700
     4      short_term         2                  1    5400
     5      short_term         2                  2    7400
     6      short_term         3                  1   14800
     7      short_term         3                  0   11000
     8      short_term         2                  0    9800
     9      short_term         1                  0    2200
     10     short_term         2                  0   11200

### Short term Add Ons

In [930]:
addon_st_names



ytd_as = addon_st_names[["name", "recurring", "dt_start_date", "amount"]]

ytd_as["add_ons"] = 1
ytd_as["month"] = pd.DatetimeIndex(ytd_as["dt_start_date"]).month
ytd_as["year"] = pd.DatetimeIndex(ytd_as["dt_start_date"]).year

ytd_as = ytd_as.sort_values(by = ["month", "year"])
ytd_as = ytd_as.reset_index()
ytd_as = ytd_as [["name", "recurring","add_ons", "month", "year", "amount"]]
# ytd_as["returning_cust"] = ytd_as["name"].duplicated()

ytd_as

<ipython-input-930-8b771c9d3e2c>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ytd_as["add_ons"] = 1
<ipython-input-930-8b771c9d3e2c>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ytd_as["month"] = pd.DatetimeIndex(ytd_as["dt_start_date"]).month

          name  recurring  add_ons  month  year  amount
0        Boxly      False        1      3  2022    1020
1    Loop Hero      False        1      4  2022      40
2  BetterGreen      False        1      5  2022     128
3        Bevvy      False        1      6  2022     192

In [931]:
add_ons_short_monthly = ytd_as[["recurring", "add_ons","month", "year", "amount"]].groupby(["year","month"]).sum()
add_ons_short_monthly["type"] = "short_add_on" 
add_ons_short_monthly = add_ons_short_monthly[["type", "recurring", "add_ons", "amount"]]
add_ons_short_monthly

                    type  recurring  add_ons  amount
year month
2022 3      short_add_on          0        1    1020
     4      short_add_on          0        1      40
     5      short_add_on          0        1     128
     6      short_add_on          0        1     192

Lets combine the short term bookings and the short term add ons (which in total are less that 1500 dollars and therefore less than X% of reveneue of the YTD totals. because of this Short term add ons will be excluded

In [932]:
ytd_short_and_stadd = short_monthly["amount"].add(add_ons_short_monthly["amount"], fill_value =0)
ytd_short_and_stadd

year  month
2022  2         3356.0
      3         9720.0
      4         5440.0
      5         7528.0
      6        14992.0
      7        11000.0
      8         9800.0
      9         2200.0
      10       11200.0
Name: amount, dtype: float64

In [933]:
# year_to_date_monthly = pd.DataFrame({'month': [1,2,3,4,5,6,7,8,9,10,11,12]*3,
#                    'year': ["2022"]*12 + ["2023"]*12 +["2024"]*12 })
# year_to_date_monthly["amount"] = 0

# year_to_date_monthly = year_to_date_monthly.groupby(["year","month"]).sum() 
# year_to_date_monthly

### Long Term YTD Bookings (Rental Only)

In [934]:
ytd_l = long_w_names[["name","amount_monthly","payment_interval_months","term_length_months","renews_automatically",\
                      "dt_contract_signed_date"]]    # need to calc start month total

ytd_l["recurring_payment"] = ytd_l.amount_monthly*ytd_l.payment_interval_months


# Start
# #look at term months total
# time counter = 0
# start with signed date as date -> date
# pay monthly *interval 
# add interval len to time counter
# check if time counter = term months
# if greater you messed up
# if equal reset counter to 0 increae pay monthly and reloop if renews autmatically is true
# if less add months of time counter to dt months (will add up automatically)
# entry at this new date with pay monthly *interval 
# add interval len to time counter
# repeat
# when year >2024 end 


date_series = []

name_series = []

amount_series= []

def thing(renewal, date, term, name, amount, interval):
    counter = 0
    while counter <= term-interval:
        date_series.append(date)
        name_series.append(name)
        amount_series.append(amount*interval)
        counter+= interval
        date+= relativedelta(months=interval)
        if renewal == True and date < pd.Timestamp('2025-01-01') and counter == term:
            counter = 0
            amount = amount *1.07 #7% term increase
        else:
            pass
        
        
        
            

    



long_monthly = long_w_names.apply(lambda x: thing(renewal = x.renews_automatically, date = x.dt_contract_signed_date,\
                                                  term = x.term_length_months, name = x["name"], \
                                                  amount=x.amount_monthly, interval= x.payment_interval_months), \
                                  axis=1)



framed_long = pd.DataFrame(
    {'date': date_series,
     'amount': amount_series,
     'name': name_series
    }) 


framed_long["returning_cust"] = 0
framed_long["bookings"] = 1
framed_long["month"] = pd.DatetimeIndex(framed_long["date"]).month
framed_long["year"] = pd.DatetimeIndex(framed_long["date"]).year

framed_long = framed_long.sort_values(by = ["year", "month"])
framed_long = framed_long.reset_index()
framed_long = framed_long [["name", "returning_cust", "bookings", "month", "year", "amount"]]
framed_long["returning_cust"] = framed_long["name"].duplicated()

framed_long.drop(framed_long.loc[framed_long['year']==2025].index, inplace=True)

framed_long
# long_monthly_no_addons =  = ytd_l[]
# long_monthly_w_addons = ytd_l[]

<ipython-input-934-74078d88f7d2>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ytd_l["recurring_payment"] = ytd_l.amount_monthly*ytd_l.payment_interval_months

               name  returning_cust  bookings  month  year         amount
0    Crypto Factory           False         1      1  2022   15000.000000
1           AirBase           False         1      1  2022    8200.000000
2         Sky Force           False         1      1  2022   60000.000000
3          Camp Zen           False         1      1  2022   30000.000000
4         Zero Base           False         1      1  2022    9200.000000
..              ...             ...       ...    ...   ...            ...
269         AirBase            True         1     12  2024   11500.924192
270        Fly Well            True         1     12  2024   11220.413846
271       Zero Base            True         1     12  2024    9844.000000
272           Boxly            True         1     12  2024  160148.722269
273          GloGlo            True         1     12  2024  138920.228852

[274 rows x 6 columns]

### Long Term Month to Month Revenue

In [935]:
framed_long2 = framed_long[["returning_cust", "bookings","month", "year", "amount"]].groupby(["year","month"]).sum()

framed_long2["num_new_contracts"] = framed_long2["bookings"] - framed_long2["returning_cust"]

cleanish_long = framed_long2
cleanish_long["type"] = "long_term"

cleaned_long = cleanish_long[["type", "bookings","num_new_contracts", "amount"]]

In [936]:
cleaned_long

                 type  bookings  num_new_contracts         amount
year month
2022 1      long_term         8                  8  178830.000000
     2      long_term         7                  3  120880.000000
     3      long_term         9                  3  199673.500000
     4      long_term        11                  1  253875.645000
     5      long_term        10                  1  181161.940150
     6      long_term         7                  0  155658.275961
     7      long_term        12                  1  364284.955278
     8      long_term         7                  1  121560.722147
     9      long_term         8                  0  182910.192697
     10     long_term         9                  0  250710.888186
     11     long_term         8                  0  159641.270359
     12     long_term         7                  0  162459.617284
2023 1      long_term        11                  0  355028.053834
     2      long_term         6                  0  124555.855003
     3      long_term         6                  0  186685.728913
     4      long_term         9                  0  282102.853111
     5      long_term         7                  0  170576.836228
     6      long_term         5                  0  167698.022391
     7      long_term        11                  0  391911.826736
     8      long_term         6                  0  146852.465626
     9      long_term         6                  0  222249.312759
     10     long_term         8                  0  289211.132223
     11     long_term         7                  0  196453.012717
     12     long_term         5                  0  206135.221992
2024 1      long_term        10                  0  411429.755883
     2      long_term         6                  0  177352.560884
     3      long_term         6                  0  270227.333325
     4      long_term         8                  0  332904.809807
     5      long_term         7                  0  238829.351118
     6      long_term         5                  0  259131.059120
     7      long_term        10                  0  464212.659833
     8      long_term         6                  0  222701.985706
     9      long_term         6                  0  334468.895749
     10     long_term         8                  0  384366.424351
     11     long_term         7                  0  293007.593014
     12     long_term         5                  0  331634.289158

In [937]:
ytd_long_monthly = cleaned_long.reset_index()
ytd_long_monthly = ytd_long_monthly[ytd_long_monthly["year"] == 2022]
ytd_long_monthly

    year  month       type  bookings  num_new_contracts         amount
0   2022      1  long_term         8                  8  178830.000000
1   2022      2  long_term         7                  3  120880.000000
2   2022      3  long_term         9                  3  199673.500000
3   2022      4  long_term        11                  1  253875.645000
4   2022      5  long_term        10                  1  181161.940150
5   2022      6  long_term         7                  0  155658.275961
6   2022      7  long_term        12                  1  364284.955278
7   2022      8  long_term         7                  1  121560.722147
8   2022      9  long_term         8                  0  182910.192697
9   2022     10  long_term         9                  0  250710.888186
10  2022     11  long_term         8                  0  159641.270359
11  2022     12  long_term         7                  0  162459.617284

In [938]:
all_lt_transactions_22 = framed_long.reset_index()
all_lt_transactions_22 = all_lt_transactions_22[all_lt_transactions_22["year"]==2022]
all_lt_transactions_22 = all_lt_transactions_22 [["year", "month", "name", "returning_cust", "bookings", "amount"]]
all_lt_transactions_22

     year  month            name  returning_cust  bookings        amount
0    2022      1  Crypto Factory           False         1  15000.000000
1    2022      1         AirBase           False         1   8200.000000
2    2022      1       Sky Force           False         1  60000.000000
3    2022      1        Camp Zen           False         1  30000.000000
4    2022      1       Zero Base           False         1   9200.000000
..    ...    ...             ...             ...       ...           ...
98   2022     12       Zero Base            True         1   9200.000000
99   2022     12           Boxly            True         1  31572.779284
100  2022     12       SearchNet            True         1  12000.000000
101  2022     12    Spotlight VC            True         1  11500.000000
102  2022     12          GloGlo            True         1  80852.838000

[103 rows x 6 columns]

In [939]:
totals_long = cleaned_long.groupby(["year"]).sum()
totals_long["amount"]

#mult 23 and 24 totals by increase in percentage?

year
2022    2.331647e+06
2023    2.739460e+06
2024    3.720267e+06
Name: amount, dtype: float64

In [940]:
ytd_short_and_stadd

year  month
2022  2         3356.0
      3         9720.0
      4         5440.0
      5         7528.0
      6        14992.0
      7        11000.0
      8         9800.0
      9         2200.0
      10       11200.0
Name: amount, dtype: float64

In [941]:
long_addon = addon_lt_names[["name", "amount", "recurring","description",\
                             "dt_start_date", "term_length_months", "payment_interval_months",\
                             "dt_contract_signed_date", "renews_automatically"]]
                             
                             
long_addon_non_recur =   long_addon[long_addon["recurring"] == False]                        
long_addon_recur = long_addon[long_addon["recurring"] == True]

In [942]:
long_addon_non_recur

,name,amount,recurring,description,dt_start_date,term_length_months,payment_interval_months,dt_contract_signed_date,renews_automatically
3,Fly Well,24000,False,bathroom installation,2022-04-27,6,1,2022-04-24,True
9,Crypto Factory,180,False,Locksmith,2022-07-10,12,3,2022-01-05,True
10,Fly Well,380,False,utensils,2022-04-27,6,1,2022-04-24,True
11,Panda Health,520,False,mugs,2022-03-01,12,3,2022-02-24,True
12,Panda Health,100,False,coffee machine,2022-03-01,12,3,2022-02-24,True

In [943]:
long_addon_non_recur


long_addon_non_recur["month"] = pd.DatetimeIndex(long_addon_non_recur["dt_start_date"]).month
long_addon_non_recur["year"] = pd.DatetimeIndex(long_addon_non_recur["dt_start_date"]).year
long_addon_non_recur = long_addon_non_recur.sort_values(by = ["year", "month"])
long_addon_non_recur = long_addon_non_recur[["year","month", "name", "amount"]].groupby(["year","month"]).sum()
long_addon_non_recur

<ipython-input-943-4e09cecae485>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  long_addon_non_recur["month"] = pd.DatetimeIndex(long_addon_non_recur["dt_start_date"]).month
<ipython-input-943-4e09cecae485>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  long_addon_non_recur["year"] = pd.DatetimeIndex(long_addon_non_recur["dt_start_date"]).year

            amount
year month
2022 3         620
     4       24380
     7         180

In [955]:
long_addon_recur
# #assume monthly charge and every 1 year 7% increase in charge


date_series_addlong = []

name_series_addlong = []

amount_series_addlong= []

recur_series_addlong = []

def thinger(recur, date, name, amount):
    counter = 0
    if recur == True:
        while counter <= 12:
            date_series_addlong.append(date)
            name_series_addlong.append(name)
            amount_series_addlong.append(amount)
            recur_series_addlong.append(recur)
            counter+= 1
            date+= relativedelta(months=1)
            if recur == True and date < pd.Timestamp('2025-01-01') and counter == 12:
                counter = 0
                amount = amount *1.07 #7% term increase
            else:
                pass
    elif recur == False:
        date_series_addlong.append(date)
        name_series_addlong.append(name)
        amount_series_addlong.append(amount)
        recur_series_addlong.append(recur)
    else: 
        pass
        
        
        
# long_addon_recur
long_add_thing = long_addon.apply(lambda x: thinger(recur = x.recurring, date = x.dt_start_date,\
                                                  name = x["name"], amount=x.amount), axis=1)



framed_addon = pd.DataFrame(
    {'date': date_series_addlong,
     'amount': amount_series_addlong,
     'name': name_series_addlong,
     'recurring': recur_series_addlong
    }) 


framed_addon["month"] = pd.DatetimeIndex(framed_addon["date"]).month
framed_addon["year"] = pd.DatetimeIndex(framed_addon["date"]).year

framed_addon = framed_addon.sort_values(by = ["year", "month"])
framed_addon = framed_addon.reset_index()
framed_addon = framed_addon [["name", "month", "year", "recurring", "amount"]]

framed_addon.drop(framed_addon.loc[framed_addon['year']==2025].index, inplace=True)

framed_addon.recurring.value_counts()

#Need value to be charged to next available month? or its own schedule based off the term

True     526
False      5
Name: recurring, dtype: int64

In [956]:
framed_addon

               name  month  year  recurring     amount
0    Crypto Factory      1  2022       True  1000.0000
1         Sky Force      1  2022       True  3000.0000
2          Camp Zen      1  2022       True  1200.0000
3         Zero Base      1  2022       True   300.0000
4         Zero Base      1  2022       True   160.0000
..              ...    ...   ...        ...        ...
526       Zero Base     12  2024       True  2063.1098
527       Zero Base     12  2024       True   183.1840
528           Yogio     12  2024       True  9159.2000
529          GloGlo     12  2024       True  5152.0500
530          GloGlo     12  2024       True  1373.8800

[531 rows x 5 columns]

### Add Ons LT Contract Month to Month Revenue

In [957]:
framed_addon2 = framed_addon[["month", "year", "amount"]].groupby(["year","month"]).sum()


cleanish_add = framed_addon2
cleanish_add["type"] = "long_add_on"

cleaned_addon_lt = cleanish_add[["type", "amount"]]
cleaned_addon_lt

                   type      amount
year month
2022 1      long_add_on   5660.0000
     2      long_add_on   5660.0000
     3      long_add_on  14430.0000
     4      long_add_on  46790.0000
     5      long_add_on  22410.0000
     6      long_add_on  24212.0000
     7      long_add_on  24392.0000
     8      long_add_on  24212.0000
     9      long_add_on  24212.0000
     10     long_add_on  36712.0000
     11     long_add_on  36712.0000
     12     long_add_on  37912.0000
2023 1      long_add_on  38308.2000
     2      long_add_on  38308.2000
     3      long_add_on  38878.7000
     4      long_add_on  39480.7000
     5      long_add_on  39480.7000
     6      long_add_on  39606.8400
     7      long_add_on  39606.8400
     8      long_add_on  39606.8400
     9      long_add_on  39606.8400
     10     long_add_on  40481.8400
     11     long_add_on  40481.8400
     12     long_add_on  40565.8400
2024 1      long_add_on  40989.7740
     2      long_add_on  40989.7740
     3      long_add_on  41600.2090
     4      long_add_on  42244.3490
     5      long_add_on  42244.3490
     6      long_add_on  42379.3188
     7      long_add_on  42379.3188
     8      long_add_on  42379.3188
     9      long_add_on  42379.3188
     10     long_add_on  43315.5688
     11     long_add_on  43315.5688
     12     long_add_on  43405.4488

# All TCV Listings (assuming no dropped contracts and each term increases price by 7%)

### Short Term Bookings

In [958]:
ytd_s

            name  returning_cust  bookings  month  year  amount
0   Panda Health           False         1      2  2022    3356
1          Boxly           False         1      3  2022    2000
2    Snap Health           False         1      3  2022    6700
3      Loop Hero           False         1      4  2022    4200
4      Loop Hero            True         1      4  2022    1200
5    Sport Smart           False         1      5  2022    2000
6    BetterGreen           False         1      5  2022    5400
7          Bevvy           False         1      6  2022    1800
8          Boxly            True         1      6  2022    6300
9    Snap Health            True         1      6  2022    6700
10     Loop Hero            True         1      7  2022    1500
11   Sport Smart            True         1      7  2022    5900
12         Bevvy            True         1      7  2022    3600
13     Loop Hero            True         1      8  2022    1800
14   Sport Smart            True         1      8  2022    8000
15         Boxly            True         1      9  2022    2200
16         Boxly            True         1     10  2022    4500
17   Snap Health            True         1     10  2022    6700

### Long Term Bookings (assuming no dropped contracts)

In [959]:
framed_long #all posible thru Q4 2024

               name  returning_cust  bookings  month  year         amount
0    Crypto Factory           False         1      1  2022   15000.000000
1           AirBase           False         1      1  2022    8200.000000
2         Sky Force           False         1      1  2022   60000.000000
3          Camp Zen           False         1      1  2022   30000.000000
4         Zero Base           False         1      1  2022    9200.000000
..              ...             ...       ...    ...   ...            ...
269         AirBase            True         1     12  2024   11500.924192
270        Fly Well            True         1     12  2024   11220.413846
271       Zero Base            True         1     12  2024    9844.000000
272           Boxly            True         1     12  2024  160148.722269
273          GloGlo            True         1     12  2024  138920.228852

[274 rows x 6 columns]

### Add Ons for Short Term Bookings

In [960]:
ytd_as

          name  recurring  add_ons  month  year  amount
0        Boxly      False        1      3  2022    1020
1    Loop Hero      False        1      4  2022      40
2  BetterGreen      False        1      5  2022     128
3        Bevvy      False        1      6  2022     192

### Add Ons for Long Term Bookings

In [961]:
framed_addon

               name  month  year  recurring     amount
0    Crypto Factory      1  2022       True  1000.0000
1         Sky Force      1  2022       True  3000.0000
2          Camp Zen      1  2022       True  1200.0000
3         Zero Base      1  2022       True   300.0000
4         Zero Base      1  2022       True   160.0000
..              ...    ...   ...        ...        ...
526       Zero Base     12  2024       True  2063.1098
527       Zero Base     12  2024       True   183.1840
528           Yogio     12  2024       True  9159.2000
529          GloGlo     12  2024       True  5152.0500
530          GloGlo     12  2024       True  1373.8800

[531 rows x 5 columns]

# YTD TCV By Month Thru Sept (Q3)

### Short Term Bookings

In [962]:
short_monthly_q3 =short_monthly.reset_index()
short_monthly_q3 = short_monthly_q3[short_monthly_q3["month"]<=9]
short_monthly_q3 = short_monthly_q3[short_monthly_q3["year"]<=2022]

short_monthly_q3

   year  month        type  bookings  num_new_contracts  amount
0  2022      2  short_term         1                  1    3356
1  2022      3  short_term         2                  2    8700
2  2022      4  short_term         2                  1    5400
3  2022      5  short_term         2                  2    7400
4  2022      6  short_term         3                  1   14800
5  2022      7  short_term         3                  0   11000
6  2022      8  short_term         2                  0    9800
7  2022      9  short_term         1                  0    2200

### Long Term Bookings

In [963]:
long_monthly_q3 = cleaned_long.reset_index()
long_monthly_q3 = long_monthly_q3[long_monthly_q3["month"]<=9]
long_monthly_q3 = long_monthly_q3[long_monthly_q3["year"]<=2022]

long_monthly_q3

   year  month       type  bookings  num_new_contracts         amount
0  2022      1  long_term         8                  8  178830.000000
1  2022      2  long_term         7                  3  120880.000000
2  2022      3  long_term         9                  3  199673.500000
3  2022      4  long_term        11                  1  253875.645000
4  2022      5  long_term        10                  1  181161.940150
5  2022      6  long_term         7                  0  155658.275961
6  2022      7  long_term        12                  1  364284.955278
7  2022      8  long_term         7                  1  121560.722147
8  2022      9  long_term         8                  0  182910.192697

### Add Ons for Short Term Bookings

In [964]:
add_on_short_monthly_q3 = add_ons_short_monthly.reset_index()
add_on_short_monthly_q3 = add_on_short_monthly_q3[add_on_short_monthly_q3["month"]<=9]
add_on_short_monthly_q3 = add_on_short_monthly_q3[add_on_short_monthly_q3["year"]<=2022]

add_on_short_monthly_q3

   year  month          type  recurring  add_ons  amount
0  2022      3  short_add_on          0        1    1020
1  2022      4  short_add_on          0        1      40
2  2022      5  short_add_on          0        1     128
3  2022      6  short_add_on          0        1     192

### Add Ons for Long Term Bookings

In [965]:
add_on_long_monthly_q3 = cleaned_addon_lt.reset_index()
add_on_long_monthly_q3 = add_on_long_monthly_q3[add_on_long_monthly_q3["month"]<=9]
add_on_long_monthly_q3 = add_on_long_monthly_q3[add_on_long_monthly_q3["year"]<=2022]
add_on_long_monthly_q3

   year  month         type   amount
0  2022      1  long_add_on   5660.0
1  2022      2  long_add_on   5660.0
2  2022      3  long_add_on  14430.0
3  2022      4  long_add_on  46790.0
4  2022      5  long_add_on  22410.0
5  2022      6  long_add_on  24212.0
6  2022      7  long_add_on  24392.0
7  2022      8  long_add_on  24212.0
8  2022      9  long_add_on  24212.0

# Assumptions

## Assume all contract renewals will remain renewing indefinitely 
## if not renewing of switching assume contract lost
## Assume the short term contracts that regularly occur will continue pattern indefinitely
## Any short terms that use less than once will be assumed lost?? Or only once yearly for a retreat
## Assume 
# Assume price increase yearly of  5.8% XXXXXX (https://www.clicktime.com/blog/inflation-how-to-increase-service-prices)?
## Gain new clients for both short and long term. Will need add ons for both (average/median)

# Use % of business of short term per month for future projection

# Current YTD totals of short vs long vs add ons(short and long

NameError: name 's' is not defined